
body{

    height: 100%;
    padding-bottom: 20px;
    background: radial-gradient(rgb(13, 0, 17), rgb(2, 13, 17));
    background-size: 400%;
    animation: colorchange 10s linear infinite;
    color: white;
    font-family: 'Red hat display';
}

@keyframes colorchange{

0%{
    background-position: 0 200%;
}
50%{
    background-position: 200% 0;
}
70%{
    background-position: 0 200%;
}
100%{
    background-position: 200% 0;
}
}

.title{
    
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: radial-gradient(rgb(20, 0, 26), rgb(4, 23, 31));
}

.apidoc{

    position: absolute;
    font-size: 1.2em;
    top: 2%;
    left: 1%;
}

.apidoc a{

    color: rgb(134, 237, 255);
}

.apidoc img{

    position: absolute;
    right: 72%;
}

