
body{

    height: 100%;
    background: radial-gradient(rgb(13, 0, 17), rgb(2, 13, 17));
    background-size: 400%;
    animation: colorchange 10s linear infinite;
    color: white;
    font-family: 'Raleway';
    overflow-x: hidden;
}

@keyframes colorchange{

0%{
    background-position: 0 200%;
}
50%{
    background-position: 200% 0;
}
70%{
    background-position: 0 200%;
}
100%{
    background-position: 200% 0;
}
}


/* Responsive hommelit */

@media (max-width: 1024px) {

    .apidoc img{
        opacity: 0;
    }

}

