@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,400;1,300&display=swap');

.FetchJson{

    text-align: center;
    font-size: 1.6em;
    padding-top: 5%;
    color: rgb(255, 255, 255);
    font-family: 'Red hat display';

}
.FetchJson input{

    position: relative;
    width: 50%;
    font-size: 1em;
    left: 2%;
    border-radius: 7px;
    text-align: left;
    margin-top: 2em;  
    background-color:rgba(255, 255, 255, 0.986);
    border: 10px solid rgb(255, 255, 255);

}

.FetchJson fieldset{

    display: inline-block;
    width: 60%;
    border-radius: 7px;
    letter-spacing: 0.1em;
    background-color: rgba(124, 160, 201, 0.075);
}

.FetchJson a{

    color: #68bbff;
    letter-spacing: 0.2em;
}

.FetchJson .logo{
    
    position: relative;
    width: 25%;
    margin-left: 2em;

}

.FetchJson .gameImage{
    position: relative;
    width: 25%;
    margin-left: 3px;
    margin-top: 10px;
}

.searchicon{

    position: relative;
    z-index: 1;
    color: rgb(0, 0, 0);
    left: 50%;
}

