.FetchJson{

    text-align: center;
    font-size: 1.6em;
    padding-top: 1em;
    color: rgb(255, 255, 255);
    font-family: 'Red hat display';

}
.FetchJson input{

    position: relative;
    width: 50%;
    font-size: 1em;
    left: 2%;
    border-radius: 7px;
    text-align: left;
    margin-top: 2em;  
    border: 10px solid rgb(255, 255, 255);

}

.FetchJson fieldset{

    display: inline-block;
    width: 60%;
    border-radius: 7px;
    letter-spacing: 0.1em;
    background-color: rgba(19, 37, 59, 0.267);
}

.FetchJson a{

    color: #68bbff;
}

.FetchJson .logo{
    
    width: 30%;
    margin-left: 2em;
    box-shadow: rgb(255, 238, 0) 0px 0px 10px;
    border-radius: 10px;

}

.FetchJson .gameImage{

    width: 45%;
    margin-right: 0em;
    margin-top: 0.5em;
    box-shadow: rgb(228, 255, 254) 0px 0px 3px;
}

.searchicon{

    position: relative;
    z-index: 1;
    color: rgb(0, 0, 0);
    left: 50%;
}

