.FetchJson{

    text-align: center;
    font-size: 1.6em;
    color: rgb(255, 255, 255);
    font-family: 'Red hat display';

}
.FetchJson input{

    position: relative;
    width: 65%;
    font-size: 0.8em;
    left: 1%;
    border-radius: 7px;
    text-align: left;
    border: 10px solid rgb(255, 255, 255);

}

.FetchJson fieldset{

    display: inline-block;
    text-align: center;
    width: 60%;
    border-radius: 7px;
    letter-spacing: 0.1em;
    margin-left: 1em;
    background-color: rgba(19, 37, 59, 0.267);
}

.FetchJson a{

    color: #68bbff;
}

.FetchJson h5{

    text-align: left;
}

.FetchJson h1{

    font-size: 4.5em;
    margin-top: -0.2em;
    padding-bottom: 0.2em;
    background: -webkit-linear-gradient(rgb(0, 102, 255), rgb(255, 255, 255));
    letter-spacing: 0.1em;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 3px 2px 3px rgba(41, 223, 255, 0.315);
}

.FetchJson .gameImage{

    width: 55%;
    margin-right: 30em;
    margin-top: 0.5em;
    box-shadow: rgb(228, 255, 254) 0px 0px 3px;
}

.searchicon{

    position: relative;
    font-size: 0.8em;
    z-index: 1;
    color: rgb(0, 0, 0);
    left: 65%;
}


