
.FetchJson{

    text-align: center;
    font-size: 1.9em;
    color: rgb(255, 255, 255);
}
.FetchJson input{

    position: relative;
    width: 65%;
    font-size: 0.8em;
    left: 1%;
    border-radius: 7px;
    text-align: left;
    border: 10px solid rgb(255, 255, 255);

}

.FetchJson fieldset{

    display: inline-block;
    width: 65%;
    border-radius: 7px;
    letter-spacing: 0.1em;
    margin-left: 1em;
    background-color: rgba(19, 37, 59, 0.082);
}

.FetchJson a{

    color: #68bbff;
}

.FetchJson h5{
    
    margin-bottom: -1em;
    text-align: left;
}

.FetchJson .hakuehdot{

    position: relative;
    left: 30%;
    top: 30px;
    margin-top: -1em;
}

.FetchJson h1{

    font-size: 4.5em;
    font-family: "Red hat display";
    margin-top: -0.2em;
    background: -webkit-linear-gradient(rgb(0, 102, 255), rgb(255, 255, 255));
    letter-spacing: 0.1em;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 3px 2px 3px rgba(41, 223, 255, 0.315);
}

.FetchJson .gameImage{

    width: 45%;
    margin-right: 30em;
    margin-top: 0.5em;
    box-shadow: rgb(255, 255, 255) 0px 0px 3px;
}

.datachart{
   
    border: 1px solid rgb(255, 255, 255);
    margin-top: 3.5em;
    padding-top: 2em;
    padding-bottom: 2em;
    float: right;
    font-size: 0.9rem;
    font-family: "Red hat display"
}

.FetchJson .maxhinta{

    width: 15%;
    font-size: 0.6em;
    left: 15%;
    border-radius: 7px;
    text-align: left;
    border: 10px solid rgba(255, 255, 255, 0.993);
}

.FetchJson .minhinta{

    width: 15%;
    font-size: 0.6em;
    left: 17%;
    border-radius: 7px;
    text-align: left;
    border: 10px solid rgb(255, 255, 255);
}

.FetchJson h6{

    position: relative;
    left: 2%;
    margin: 0;
    color:rgba(228, 228, 228, 0.514);
    font-size: 0.5em;
}

.FetchJson .min{
    
    margin-top: -1.2em;
    left: 20%;
}




