
.FetchJson{

    text-align: center;
    font-size: 1.9em;
    color: rgb(255, 255, 255);
}

.FetchJson input{

    position: relative;
    width: 65%;
    font-size: 0.8em;
    left: 1%;
    border-radius: 7px;
    text-align: left;
    border: 10px solid rgb(255, 255, 255);

}

.FetchJson fieldset{

    display: inline-block;
    width: 65%;
    border-radius: 7px;
    letter-spacing: 0.1em;
    margin-left: 1em;
    background-color: rgba(19, 37, 59, 0.082);
}

.FetchJson a{

    color: #68bbff;
}

.FetchJson h5{
    
    margin-bottom: -1em;
    text-align: left;
}

.FetchJson .customoi{

    position: relative;
    left: 20%;
    top: 30px;
    margin-top: -1em;
    z-index: -1;

}

.FetchJson h1{

    font-size: 4.5em;
    font-family: "Red hat display";
    margin-top: -0.2em;
    background: -webkit-linear-gradient(rgb(0, 102, 255), rgb(255, 255, 255));
    letter-spacing: 0.1em;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 3px 2px 3px rgba(41, 223, 255, 0.315);
}

.FetchJson .gameImage{

    width: 45%;
    margin-right: 30em;
    margin-top: 0.5em;
    box-shadow: rgb(255, 255, 255) 0px 0px 3px;
}

.datachart{
   
    border: 1px solid rgb(255, 255, 255);
    margin-top: 3.5em;
    padding-top: 2em;
    padding-bottom: 2em;
    float: right;
    font-size: 0.9rem;
    font-family: "Red hat display"
}

.FetchJson .maxhinta{

    width: 15%;
    font-size: 0.6em;
    left: 10%;
    border-radius: 7px;
    text-align: left;
    border: 10px solid rgba(255, 255, 255, 0.993);
}

.FetchJson .minhinta{

    width: 15%;
    font-size: 0.6em;
    left: 12%;
    border-radius: 7px;
    text-align: left;
    border: 10px solid rgb(255, 255, 255);
}

.FetchJson h6{

    position: relative;
    right: 3%;
    margin: 0;
    color:rgba(255, 255, 255, 0.582);
    font-size: 0.5em;
    text-decoration: underline;
}

.FetchJson .min{
    
    margin-top: -1.25em;
    padding-bottom: 0.1em;
    left: 20%;
}


.FetchJson .tyhjennä{

    position: relative;
    left: 19%;
    margin-top: 0.15em;
    border-radius: 5px;
    width: 10%;
    font-size: 0.4em;
    font-weight: bold;
    padding: 1em;
    float: left;
    color: white;
    background-image: linear-gradient(92.88deg, #111b3f 9.16%, #231c58 43.89%, #1d113f 64.72%);
    border: 2px solid rgb(255, 255, 255);
    transition: all 0.3s;
    cursor: pointer;

}

.tyhjennä:hover{

    width: 11%;
    background-image: linear-gradient(92.88deg, #1b295c 9.16%, #352c77 43.89%, #2f1f5e 64.72%);


}

.StoresFetched{

    position: absolute;
    top: 0%;
    left: 0%;
}










